{:components
 {:app  #var duct.component.handler/handler-component
  :http #var ring.component.jetty/jetty-server
  :remote-api #var org.akvo.flow-api.component.remote-api/remote-api
  :akvo-flow-server-config #var org.akvo.flow-api.component.akvo-flow-server-config/akvo-flow-server-config}
 :endpoints
 {:root #var org.akvo.flow-api.endpoint.root/endpoint
  :folder #var org.akvo.flow-api.endpoint.folder/endpoint
  :survey #var org.akvo.flow-api.endpoint.survey/endpoint
  :form-instance #var org.akvo.flow-api.endpoint.form-instance/endpoint}
 :dependencies
 {:http [:app]
  :app  [:root :folder :survey :form-instance]
  :remote-api [:akvo-flow-server-config]
  :akvo-flow-server-config []
  :root []
  :folder [:remote-api :api-root]
  :survey [:remote-api :api-root]
  :form-instance [:remote-api :api-root]}
 :config
 {:app
  {:middleware
   {:functions
    {:hide-errors   #var duct.middleware.errors/wrap-hide-errors
     :not-found     #var duct.middleware.not-found/wrap-not-found
     :ring-defaults #var ring.middleware.defaults/wrap-defaults
     :json-response #var ring.middleware.json/wrap-json-response
     :json-body     #var ring.middleware.json/wrap-json-body
     :wrap-email    #var org.akvo.flow-api.middleware.email/wrap-email}
    :applied
    [:not-found :json-response :ring-defaults :wrap-email :json-body :hide-errors]
    :arguments
    {:not-found   "Resource Not Found"
     :hide-errors "Internal Server Error"
     :ring-defaults
     {:params    {:urlencoded true
                  :keywordize true}
      :responses {:not-modified-responses true
                  :absolute-redirects     true
                  :content-types          true
                  :default-charset        "utf-8"}}
     :json-response {:key-fn #var org.akvo.flow-api.utils/kebab->camel}}}}
  :http
  {:port http-port}
  :akvo-flow-server-config
  {:github-auth-token github-auth-token
   :tmp-dir tmp-dir}
  :api-root api-root}}
