**/*service*account*.json
**/*secret*.yml
**/*secret*.yaml
**/pom.xml.asc
**/*jar
**/lib/
**/classes/
**/target/
**/checkouts/
**/.lein-deps-sum
**/.lein-repl-history
**/.lein-plugins/
**/.lein-failures
**/.nrepl-port
**/.cache/
**/.eastwood
/bin/
gae-dev-server/
.idea

nginx/keycloak.json

notify.team.sh
