{:components
 {:remote-api #var org.akvo.flow-api.component.remote-api/local-api
  :akvo-flow-server-config #var org.akvo.flow-api.component.akvo-flow-server-config/dummy-akvo-flow-server-config}
 :dependencies
 {:remote-api []
  :akvo-flow-server-config []}
 :config
 {:app
  {:middleware
   {:functions {:stacktrace #var ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :wrap-anomaly :json-response :ring-defaults :wrap-email :json-body :stacktrace]}}
  :http  {:port 3000}
  :api-root "http://localhost:3000/"
  :unilog-db ^:replace {:event-log-password "unilog"
                        :event-log-user "unilog"
                        :table-name "event_log"
                        :extra-jdbc-opts {:ssl false
                                          :read-only? true}
                        :event-log-port 5432
                        :event-log-host "unilog"}}}
