{:components
 {:remote-api #var org.akvo.flow-api.component.remote-api/local-api
  :akvo-flow-server-config #var org.akvo.flow-api.component.akvo-flow-server-config/dummy-akvo-flow-server-config}
 :dependencies
 {:remote-api []
  :akvo-flow-server-config []}
 :config
 {:app
  {:middleware
   {:functions {:stacktrace #var ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :json-response :ring-defaults :wrap-email :json-body :wrap-anomaly :stacktrace]}}
  :http
  {:port 3000}
  :api-root "http://localhost:3000/"}}
